body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Нотатки
    font-family: ;
    font-size: ;
    font-weight: ;
    line-height: ;
    color: ;
    background-color: ; 

    Інтерактивні елементи (кнопки і посилання),
    при наведенні мишкою або фокусі з 
    клавіатури, мають активний стан, вказаний 
    в Style guide (зміна кольору).

    Текст контактів в хедері змінює колір при 
    ховері і фокусі.
    */

/* ================HEADER================ */

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;

  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #4d5ae5;
}

.nav-logo .logo {
  color: #2e2f42;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: capitalize;

  color: #2e2f42;
}

address {
  font-style: normal;
}

.address-link {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: lowercase;

  color: currentColor;
}

.nav-logo:hover,
.nav-logo:focus,
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-logo .logo:hover,
.nav-logo .logo:focus,
.footer-logo:hover,
.footer-logo:focus,
.footer-logo .logo:hover,
.footer-logo .logo:focus {
  color: #404bbf;
}

/* ================HERO================ */

.hero {
  background-color: #2e2f42;
}

.page-title {
  font-size: 56px;
  font-weight: 700;

  line-height: 1.07;
  letter-spacing: 1.12px;

  color: #fff;

  text-align: center;
}

.hero .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.64px;

  text-transform: capitalize;

  color: #fff;

  background-color: #4d5ae5;

  cursor: pointer;
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: #404bbf;
}

/* ================FEATURE================ */

.section-title {
  font-size: 36px;
  font-weight: 700;

  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;

  color: #2e2f42;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;

  color: #2e2f42;
}

.feature-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ================TEAM================ */

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.team-title {
  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;

  color: #2e2f42;
}

.team-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ================PORTFOLIO================ */

.portfolio-item {
  background-color: #ffffff;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;

  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

/* ================FOOTER================ */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;

  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #4d5ae5;
}

.footer-logo .logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.32px;

  color: #f4f4fd;
}
